@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arr-next:before {
  content: "\e907";
  color: #fff;
}

._icon-btnarr:before {
  content: "\e900";
  color: #fff;
}

._icon-fb:before {
  content: "\e901";
  color: #fff;
}

._icon-inst:before {
  content: "\e902";
  color: #fff;
}

._icon-logo:before {
  content: "\e903";
  color: #fff;
}

._icon-arr-prev:before {
  content: "\e904";
}

._icon-tg:before {
  content: "\e905";
  color: #fff;
}

._icon-wup:before {
  content: "\e906";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #303030;
  line-height: 1;
  font-family: "Noto Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  /* maxWidthContainer было */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section-text-content__list {
  list-style-type: none;
  counter-reset: item;
}

.section-text-content__list li {
  position: relative;
}

.section-text-content__list li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
}

.section-tittle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.375;
  color: #868585;
}

@supports (font-size: clamp( 1.25rem , 1.0833333333rem  +  0.3472222222vw , 1.5rem )) {
  .section-tittle {
    font-size: clamp( 1.25rem , 1.0833333333rem  +  0.3472222222vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0833333333rem  +  0.3472222222vw , 1.5rem )) {
  .section-tittle {
    font-size: calc(1.25rem + 0.25 * (100vw - 48rem) / 72);
  }
}

.logo {
  display: inline-block;
  font-size: 3.4375rem;
  color: #fff;
}

@supports (font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem )) {
  .logo {
    font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem )) {
  .logo {
    font-size: calc(2.8125rem + 0.625 * (100vw - 48rem) / 72);
  }
}

.subtittle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  color: #303030;
}

.text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  color: #303030;
}

.footer-tittle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.375;
}

.footer-text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  color: #fff;
}

.icon-logo {
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  font-size: 1.845rem;
}

.icon-logo:hover::before {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #A9A32A;
}

.section-tittle {
  text-transform: uppercase;
  color: #868585;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.375;
}

.section-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}

.section-text-content__subtittle {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.section-text-content__subtittle_green {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.section-text-content__text {
  font-weight: 400;
  line-height: 1.3571428571;
}

.section-text-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}

.section-text-content__list_clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  margin-left: 3.125rem;
}

.section-text-content__item {
  font-weight: 400;
  line-height: 1.3571428571;
}

.no-webp .header{
  background-image: url("../img/bg.jpg"); }

.header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  width: 100vw;
  width: 100%;
}

.section-header {
  height: 100%;
  width: 100%;
  color: #fff;
}

.section-header__container {
  height: 100%;
}

.section-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 4.375rem;
  padding-bottom: 2.5rem;
}

.content-body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3.125rem;
}

@supports (margin-top: clamp( -3.125rem , -6.1553030909rem  +  15.1515154545vw , 0.0000000625rem )) {
  .content-body {
    margin-top: clamp( -3.125rem , -6.1553030909rem  +  15.1515154545vw , 0.0000000625rem );
  }
}

@supports not (margin-top: clamp( -3.125rem , -6.1553030909rem  +  15.1515154545vw , 0.0000000625rem )) {
  .content-body {
    margin-top: calc(-3.125rem + 3.1250000625 * (100vw - 20rem) / 20.625);
  }
}

.content-body__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

@supports (font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem )) {
  .content-body__text {
    font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem )) {
  .content-body__text {
    font-size: calc(1rem + 0.125 * (100vw - 48rem) / 72);
  }
}

.content-body__tittle {
  font-style: bold;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.359375;
  font-variant: small-caps;
  margin: 0px 0px;
}

@supports (font-size: clamp( 3.2rem , 2.6666666667rem  +  1.1111111111vw , 4rem )) {
  .content-body__tittle {
    font-size: clamp( 3.2rem , 2.6666666667rem  +  1.1111111111vw , 4rem );
  }
}

@supports not (font-size: clamp( 3.2rem , 2.6666666667rem  +  1.1111111111vw , 4rem )) {
  .content-body__tittle {
    font-size: calc(3.2rem + 0.8 * (100vw - 48rem) / 72);
  }
}

@supports (font-size: clamp( 2.625rem , 0.5805555556rem  +  10.2222222222vw , 3.2rem )) {
  .content-body__tittle {
    font-size: clamp( 2.625rem , 0.5805555556rem  +  10.2222222222vw , 3.2rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 0.5805555556rem  +  10.2222222222vw , 3.2rem )) {
  .content-body__tittle {
    font-size: calc(2.625rem + 0.575 * (100vw - 20rem) / 5.625);
  }
}

.content-body__subtittle {
  font-style: bold;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 1.35;
  line-height: 1.3571428571;
}

@supports (font-size: clamp( 2.1rem , 1.75rem  +  0.7291666667vw , 2.625rem )) {
  .content-body__subtittle {
    font-size: clamp( 2.1rem , 1.75rem  +  0.7291666667vw , 2.625rem );
  }
}

@supports not (font-size: clamp( 2.1rem , 1.75rem  +  0.7291666667vw , 2.625rem )) {
  .content-body__subtittle {
    font-size: calc(2.1rem + 0.525 * (100vw - 48rem) / 72);
  }
}

@supports (font-size: clamp( 1.75rem , 0.5055555556rem  +  6.2222222222vw , 2.1rem )) {
  .content-body__subtittle {
    font-size: clamp( 1.75rem , 0.5055555556rem  +  6.2222222222vw , 2.1rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 0.5055555556rem  +  6.2222222222vw , 2.1rem )) {
  .content-body__subtittle {
    font-size: calc(1.75rem + 0.35 * (100vw - 20rem) / 5.625);
  }
}

.content-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem ))) {
  .content-footer__socials {
    -webkit-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
       -moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
            column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem ))) {
  .content-footer__socials {
    -webkit-column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
       -moz-column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
            column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
  }
}

.button-body_white {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  margin-left: -20%;
}

@supports (margin-right: clamp( 0.0000000625rem , 6.1553029697rem  +  -15.1515148485vw , 3.125rem )) {
  .button-body_white {
    margin-right: clamp( 0.0000000625rem , 6.1553029697rem  +  -15.1515148485vw , 3.125rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , 6.1553029697rem  +  -15.1515148485vw , 3.125rem )) {
  .button-body_white {
    margin-right: calc(3.125rem + -3.1249999375 * (100vw - 20rem) / 20.625);
  }
}

.button-body_white__icon {
  font-size: 6.25rem;
}

@supports (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-body_white__icon {
    font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-body_white__icon {
    font-size: calc(5rem + 1.25 * (100vw - 48rem) / 72);
  }
}

.button-body_white:hover {
  background-color: #A9A32A;
  border-radius: 50%;
}

.button-body_white__button-text {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  top: 60%;
  left: 50%;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3888888889;
}

@supports (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-body_white__button-text {
    font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-body_white__button-text {
    font-size: calc(0.9rem + 0.225 * (100vw - 48rem) / 72);
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .footer{
  background-image: url("../img/footerBG.jpg"); }

.footer {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.section-footer {
  width: 100%;
  height: 100%;
  max-height: 45.625rem;
  color: #fff;
}

.section-footer__footer-content-container {
  padding-top: 4.375rem;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9.375rem;
}

@supports (padding-top: clamp( 2.1875rem , -5.3125rem  +  15.625vw , 4.375rem )) {
  .section-footer__footer-content-container {
    padding-top: clamp( 2.1875rem , -5.3125rem  +  15.625vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.1875rem , -5.3125rem  +  15.625vw , 4.375rem )) {
  .section-footer__footer-content-container {
    padding-top: calc(2.1875rem + 2.1875 * (100vw - 48rem) / 14);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , -3.7946428571rem  +  11.1607142857vw , 3.125rem )) {
  .section-footer__footer-content-container {
    padding-bottom: clamp( 1.5625rem , -3.7946428571rem  +  11.1607142857vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , -3.7946428571rem  +  11.1607142857vw , 3.125rem )) {
  .section-footer__footer-content-container {
    padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 48rem) / 14);
  }
}

@supports (row-gap: clamp( 5rem , 2.0833333333rem  +  6.0763888889vw , 9.375rem )) {
  .section-footer__footer-content-container {
    row-gap: clamp( 5rem , 2.0833333333rem  +  6.0763888889vw , 9.375rem );
  }
}

@supports not (row-gap: clamp( 5rem , 2.0833333333rem  +  6.0763888889vw , 9.375rem )) {
  .section-footer__footer-content-container {
    row-gap: calc(5rem + 4.375 * (100vw - 48rem) / 72);
  }
}

.section-footer__content-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
}

@supports ((-moz-column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem )) or (column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem ))) {
  .section-footer__content-columns {
    -webkit-column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem );
       -moz-column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem );
            column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem )) or (column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem ))) {
  .section-footer__content-columns {
    -webkit-column-gap: calc(3.125rem + 2.5 * (100vw - 48rem) / 14);
       -moz-column-gap: calc(3.125rem + 2.5 * (100vw - 48rem) / 14);
            column-gap: calc(3.125rem + 2.5 * (100vw - 48rem) / 14);
  }
}

.section-footer__left-column {
  width: 31.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
  padding-right: 1.25rem;
}

.section-footer__right-column {
  width: 37.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.contacts-list__item {
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.contacts-list__tel-item {
  max-width: 37.5rem;
  width: 100%;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contacts-list__tel-item:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #A9A32A;
}

.footer-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-footer__policy {
  display: inline-block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-footer__policy:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #A9A32A;
}

.footer-footer__socials-list {
  margin-right: 0.625rem;
  max-height: 1.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem ))) {
  .footer-footer__socials-list {
    -webkit-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
       -moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
            column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem ))) {
  .footer-footer__socials-list {
    -webkit-column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
       -moz-column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
            column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
  }
}

.footer-footer__socials-item {
  display: inline-block;
}

.logo_footer {
  display: inline-block;
  font-size: 3.4375rem;
  color: #fff;
}

@supports (font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem )) {
  .logo_footer {
    font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem )) {
  .logo_footer {
    font-size: calc(2.8125rem + 0.625 * (100vw - 48rem) / 72);
  }
}

.gform {
  max-width: 31.875rem;
  width: 100%;
  letter-spacing: 1.3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
}

.gform__group {
  position: relative;
}

.gform__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  z-index: 0;
  color: #9e9e9e;
  translate: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gform__icon:hover {
  background-color: #A9A32A;
  border-radius: 50%;
}

.gform__text {
  position: absolute;
  display: inline-block;
  bottom: 1.25rem;
  left: 2.8125rem;
  max-width: 8.9375rem;
  width: 100%;
}

.gform__input {
  width: 100%;
  padding: 0 0 0.625rem 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gform__input {
  color: #fff;
  font-family: "Noto Sans";
  letter-spacing: 1.3;
  font-size: 1rem;
}

.gform__input:focus {
  border-bottom: 1px solid #A9A32A;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.gform .gform__input:not(:-moz-placeholder-shown) ~ .gform__label {
  top: -18px;
  left: -2px;
  font-size: -12px;
  color: rgba(224, 224, 224, 0.5);
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.gform .gform__input:not(:-ms-input-placeholder) ~ .gform__label {
  top: -18px;
  left: -2px;
  font-size: -12px;
  color: rgba(224, 224, 224, 0.5);
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.gform .gform__input:focus ~ .gform__label,
.gform .gform__input:not(:placeholder-shown) ~ .gform__label {
  top: -18px;
  left: -2px;
  font-size: -12px;
  color: rgba(224, 224, 224, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button-gform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button-gform__wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.button-gform__button-icon {
  font-size: 6.25rem;
}

@supports (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-gform__button-icon {
    font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-gform__button-icon {
    font-size: calc(5rem + 1.25 * (100vw - 48rem) / 72);
  }
}

.button-gform__button-icon::before {
  color: #fff;
}

.button-gform__button-text {
  text-transform: lowercase;
  position: absolute;
  white-space: nowrap;
  top: 60%;
  left: 50%;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3888888889;
}

@supports (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-gform__button-text {
    font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-gform__button-text {
    font-size: calc(0.9rem + 0.225 * (100vw - 48rem) / 72);
  }
}

.button-gform__wrapper:hover {
  background-color: #A9A32A;
  border-radius: 50%;
}

.services-section {
  margin: 9.375rem 0;
}

.services-section__content {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@supports ((-moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem )) or (column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem ))) {
  .services-section__content {
    -webkit-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
       -moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
            column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem )) or (column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem ))) {
  .services-section__content {
    -webkit-column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
       -moz-column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
            column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
  }
}

.services-section__left-column {
  max-width: 31.875rem;
}

.services-section__services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.125rem;
}

.services-section__right-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.services-section__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.green-tariff-section {
  margin-bottom: 9.375rem;
}

@supports (margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
  .green-tariff-section {
    margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
  .green-tariff-section {
    margin-bottom: calc(4.6875rem + 4.6875 * (100vw - 48rem) / 14);
  }
}

.green-tariff-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
  margin-top: 3.75rem;
}

@supports ((-moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem )) or (column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem ))) {
  .green-tariff-section__content {
    -webkit-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
       -moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
            column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem )) or (column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem ))) {
  .green-tariff-section__content {
    -webkit-column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
       -moz-column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
            column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
  }
}

.green-tariff-section__left-column {
  max-width: 31.875rem;
}

.green-tariff-section__grid-left-wrapper {
  display: -ms-grid;
  display: grid;
  row-gap: 6.25rem;
}

@supports (row-gap: clamp( 4.375rem , 0.2840909091rem  +  8.5227272727vw , 6.25rem )) {
  .green-tariff-section__grid-left-wrapper {
    row-gap: clamp( 4.375rem , 0.2840909091rem  +  8.5227272727vw , 6.25rem );
  }
}

@supports not (row-gap: clamp( 4.375rem , 0.2840909091rem  +  8.5227272727vw , 6.25rem )) {
  .green-tariff-section__grid-left-wrapper {
    row-gap: calc(4.375rem + 1.875 * (100vw - 48rem) / 22);
  }
}

.green-tariff-section__green-slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.125rem;
}

.green-tariff-section__link {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.green-tariff-section__link_active {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border-bottom: 1px solid #303030;
}

.green-tariff-section__link:hover {
  color: #A9A32A;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.green-tariff-section__grid-body-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green-tariff-section__green-tarif-list {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.25rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.1785714286rem  +  7.1428571429vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -0.1785714286rem  +  7.1428571429vw , 2.5rem ))) {
  .green-tariff-section__green-tarif-list {
    -webkit-column-gap: clamp( 1.25rem , -0.1785714286rem  +  7.1428571429vw , 2.5rem );
       -moz-column-gap: clamp( 1.25rem , -0.1785714286rem  +  7.1428571429vw , 2.5rem );
            column-gap: clamp( 1.25rem , -0.1785714286rem  +  7.1428571429vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.1785714286rem  +  7.1428571429vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -0.1785714286rem  +  7.1428571429vw , 2.5rem ))) {
  .green-tariff-section__green-tarif-list {
    -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 17.5);
       -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 17.5);
            column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 17.5);
  }
}

.green-tariff-section__right-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -ms-grid;
  display: grid;
}

.green-tariff-section__grid-right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}

.green-tariff-section__image {
  position: relative;
  height: 100%;
}

.green-tariff-section__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.green-tariff-section__right-column-subtittle {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.green-slider {
  overflow: hidden;
}

.swiper-slide {
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -5.8035714286rem  +  13.3928571429vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -5.8035714286rem  +  13.3928571429vw , 2.5rem ))) {
  .swiper-slide {
    -webkit-column-gap: clamp( 0.625rem , -5.8035714286rem  +  13.3928571429vw , 2.5rem );
       -moz-column-gap: clamp( 0.625rem , -5.8035714286rem  +  13.3928571429vw , 2.5rem );
            column-gap: clamp( 0.625rem , -5.8035714286rem  +  13.3928571429vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -5.8035714286rem  +  13.3928571429vw , 2.5rem )) or (column-gap: clamp( 0.625rem , -5.8035714286rem  +  13.3928571429vw , 2.5rem ))) {
  .swiper-slide {
    -webkit-column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 14);
       -moz-column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 14);
            column-gap: calc(0.625rem + 1.875 * (100vw - 48rem) / 14);
  }
}

.green-slider-slide {
  position: relative;
}

.green-slider-slide__image {
  position: relative;
  min-height: 12.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46.07%;
          flex: 0 0 46.07%;
}

.green-slider-slide__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.green-slider-slide__text {
  max-width: 14.6875rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3571428571;
}

@supports (font-size: clamp( 0.8125rem , 0.6761363636rem  +  0.2840909091vw , 0.875rem )) {
  .green-slider-slide__text {
    font-size: clamp( 0.8125rem , 0.6761363636rem  +  0.2840909091vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.8125rem , 0.6761363636rem  +  0.2840909091vw , 0.875rem )) {
  .green-slider-slide__text {
    font-size: calc(0.8125rem + 0.0625 * (100vw - 48rem) / 22);
  }
}

.green-slider-button-prev {
  display: inline-block;
  font-size: 0.48875rem;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: absolute;
  z-index: 5;
  bottom: -10px;
  right: 38.2352941176%;
}

.green-slider-button-prev::before {
  color: #303030;
}

.green-slider-button-next {
  display: inline-block;
  font-size: 0.48875rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: absolute;
  z-index: 5;
  bottom: -9px;
  right: 26.0784313725%;
}

.green-slider-button-next::before {
  color: #303030;
}

.green-slider-button-next:hover:not(.swiper-button-disabled),
.green-slider-button-prev:hover:not(.swiper-button-disabled) {
  cursor: pointer;
  color: #A9A32A;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.green-slider-button-next:hover:not(.swiper-button-disabled)::before,
.green-slider-button-prev:hover:not(.swiper-button-disabled)::before {
  color: #A9A32A;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.swiper-button-disabled::before {
  color: rgba(0, 0, 0, 0.2);
}

.no-webp .section-solar-power-plant{
  background-image: url("../img/power-plant.jpg"); }

.section-solar-power-plant {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-height: 31.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8rem;
  padding-bottom: 9rem;
  margin-bottom: 9.375rem;
}

@supports (margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
  .section-solar-power-plant {
    margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
  .section-solar-power-plant {
    margin-bottom: calc(4.6875rem + 4.6875 * (100vw - 48rem) / 14);
  }
}

.section-solar-power-plant__content-wrapper {
  width: 100%;
  max-width: 42.0625rem;
}

.section-solar-power-plant__tittle {
  color: #fff;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 1.3571428571;
  text-align: center;
}

.section-clients {
  margin-bottom: 9.375rem;
}

@supports (margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
  .section-clients {
    margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
  .section-clients {
    margin-bottom: calc(4.6875rem + 4.6875 * (100vw - 48rem) / 14);
  }
}

.section-clients__content {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.6666666667rem  +  6.0763888889vw , 5.625rem )) or (column-gap: clamp( 1.25rem , -1.6666666667rem  +  6.0763888889vw , 5.625rem ))) {
  .section-clients__content {
    -webkit-column-gap: clamp( 1.25rem , -1.6666666667rem  +  6.0763888889vw , 5.625rem );
       -moz-column-gap: clamp( 1.25rem , -1.6666666667rem  +  6.0763888889vw , 5.625rem );
            column-gap: clamp( 1.25rem , -1.6666666667rem  +  6.0763888889vw , 5.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.6666666667rem  +  6.0763888889vw , 5.625rem )) or (column-gap: clamp( 1.25rem , -1.6666666667rem  +  6.0763888889vw , 5.625rem ))) {
  .section-clients__content {
    -webkit-column-gap: calc(1.25rem + 4.375 * (100vw - 48rem) / 72);
       -moz-column-gap: calc(1.25rem + 4.375 * (100vw - 48rem) / 72);
            column-gap: calc(1.25rem + 4.375 * (100vw - 48rem) / 72);
  }
}

.section-clients__left-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.5%;
          flex: 0 0 42.5%;
  position: relative;
}

.section-clients__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4.0625rem;
}

.section-clients__clients-slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 31.875rem;
}

.button-gform_clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button-gform_clients__wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.button-gform_clients__button-icon {
  font-size: 6.25rem;
}

@supports (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-gform_clients__button-icon {
    font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-gform_clients__button-icon {
    font-size: calc(5rem + 1.25 * (100vw - 48rem) / 72);
  }
}

.button-gform_clients__button-icon::before {
  color: #303030;
}

.button-gform_clients__button-text {
  text-transform: lowercase;
  position: absolute;
  white-space: nowrap;
  top: 60%;
  left: 50%;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3888888889;
}

@supports (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-gform_clients__button-text {
    font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-gform_clients__button-text {
    font-size: calc(0.9rem + 0.225 * (100vw - 48rem) / 72);
  }
}

.button-gform_clients__wrapper:hover {
  background-color: #A9A32A;
  border-radius: 50%;
}

.section-text-content_clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.section-text-content_clients__subtittle {
  max-width: 29.875rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.section-text-content_clients__text {
  font-weight: 400;
  line-height: 1.3571428571;
}

.section-text-content_clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  margin-left: 3.125rem;
}

.section-text-content_clients__item {
  font-weight: 400;
  line-height: 1.3571428571;
}

.swiper-container {
  max-width: 31.875rem;
  overflow: hidden;
}

.clients-swiper-button-prev,
.clients-swiper-button-next {
  color: #303030;
  position: absolute;
  font-size: 0.4875rem;
}

@supports (font-size: clamp( 0.4375rem , 0.4017857143rem  +  0.1785714286vw , 0.4875rem )) {
  .clients-swiper-button-prev,
  .clients-swiper-button-next {
    font-size: clamp( 0.4375rem , 0.4017857143rem  +  0.1785714286vw , 0.4875rem );
  }
}

@supports not (font-size: clamp( 0.4375rem , 0.4017857143rem  +  0.1785714286vw , 0.4875rem )) {
  .clients-swiper-button-prev,
  .clients-swiper-button-next {
    font-size: calc(0.4375rem + 0.05 * (100vw - 20rem) / 28);
  }
}

.clients-swiper-button-prev {
  bottom: -40px;
  right: 38%;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.clients-swiper-button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: -39px;
  right: 25.88%;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.clients-swiper-button-next:hover:not(.swiper-button-disabled),
.clients-swiper-button-prev:hover:not(.swiper-button-disabled) {
  cursor: pointer;
  color: #A9A32A;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.clients-swiper-button-next:hover:not(.swiper-button-disabled)::before,
.clients-swiper-button-prev:hover:not(.swiper-button-disabled)::before {
  color: #A9A32A;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.swiper-button-disabled {
  color: rgba(0, 0, 0, 0.2);
}

.swiper-button-disabled::before {
  color: rgba(0, 0, 0, 0.2);
}

.section-five-steps {
  margin-bottom: 9.375rem;
}

.section-five-steps__steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.125rem;
}

.section-five-steps__right-wrapper {
  width: 100%;
}

.section-five-steps__content {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@supports ((-moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem )) or (column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem ))) {
  .section-five-steps__content {
    -webkit-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
       -moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
            column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem )) or (column-gap: clamp( 2.5rem , -0.8405172414rem  +  5.3879310345vw , 5.625rem ))) {
  .section-five-steps__content {
    -webkit-column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
       -moz-column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
            column-gap: calc(2.5rem + 3.125 * (100vw - 62rem) / 58);
  }
}

.section-five-steps__left-column {
  max-width: 31.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
}

.section-five-steps__right-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.section-five-steps__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 1120px) {
  .green-slider-button-prev {
    right: 36%;
  }

  .green-slider-button-next {
    right: 22%;
  }

  .clients-swiper-button-prev {
    right: 42.3%;
  }
}

@media (max-width: 840px) {
  .section-text-content__subtittle_green {
    min-height: 50px;
  }
}

@media (max-width: 768px) {
@supports (margin-top: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
    .services-section {
      margin-top: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem );
    }
}

@supports not (margin-top: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
    .services-section {
      margin-top: calc(4.6875rem + 4.6875 * (100vw - 48rem) / 14);
    }
}

@supports (margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
    .services-section {
      margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 4.6875rem , -11.3839285714rem  +  33.4821428571vw , 9.375rem )) {
    .services-section {
      margin-bottom: calc(4.6875rem + 4.6875 * (100vw - 48rem) / 14);
    }
}

  .services-section__content {
    margin-top: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }

  .services-section__image img {
    position: static;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .services-section__services-list {
    row-gap: 1.875rem;
  }

  .green-tariff-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }

  .green-tariff-section__image img {
    position: static;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .green-slider-button-prev {
    font-size: 0.4375rem;
    right: 40%;
  }

  .green-slider-button-next {
    font-size: 0.4375rem;
    right: 26%;
    bottom: -10px;
  }

@supports (font-size: clamp( 1.3125rem , 0.375rem  +  4.6875vw , 2.625rem )) {
    .section-solar-power-plant__tittle {
      font-size: clamp( 1.3125rem , 0.375rem  +  4.6875vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.3125rem , 0.375rem  +  4.6875vw , 2.625rem )) {
    .section-solar-power-plant__tittle {
      font-size: calc(1.3125rem + 1.3125 * (100vw - 20rem) / 28);
    }
}

  .section-clients__content {
    margin-top: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }

  .section-clients__left-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 42.5%;
            flex: 1 0 42.5%;
  }

  .section-clients__clients-slider-wrapper {
    position: static;
    margin: 0 auto;
  }

  .section-clients__right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .clients-swiper-button-prev {
    right: 38.3%;
    bottom: 0px;
  }

  .clients-swiper-button-next {
    bottom: 0px;
    right: 28.88%;
  }

@supports (margin-top: clamp( 3.75rem , -15.5357142857rem  +  40.1785714286vw , 9.375rem )) {
    .section-five-steps {
      margin-top: clamp( 3.75rem , -15.5357142857rem  +  40.1785714286vw , 9.375rem );
    }
}

@supports not (margin-top: clamp( 3.75rem , -15.5357142857rem  +  40.1785714286vw , 9.375rem )) {
    .section-five-steps {
      margin-top: calc(3.75rem + 5.625 * (100vw - 48rem) / 14);
    }
}

@supports (margin-bottom: clamp( 3.75rem , -15.5357142857rem  +  40.1785714286vw , 9.375rem )) {
    .section-five-steps {
      margin-bottom: clamp( 3.75rem , -15.5357142857rem  +  40.1785714286vw , 9.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , -15.5357142857rem  +  40.1785714286vw , 9.375rem )) {
    .section-five-steps {
      margin-bottom: calc(3.75rem + 5.625 * (100vw - 48rem) / 14);
    }
}

  .section-five-steps__content {
    margin-top: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }

  .section-five-steps__image img {
    position: static;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .section-five-steps__steps-list {
    row-gap: 1.875rem;
  }
}

@media (max-width: 768px) and (max-width: 450px) {
  .clients-swiper-button-prev {
    right: 43.3%;
  }
}

@media (max-width: 767px) {
  .section-footer {
    max-height: 100%;
  }

  .section-footer__footer-content-container {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    row-gap: 3.75rem;
  }

  .section-footer__content-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 5rem;
  }

  .section-footer__left-column {
    margin-left: 1.875rem;
    row-gap: 2.5rem;
    width: 90vw;
  }

@supports (margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem )) {
    .section-footer__left-column {
      margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem );
    }
}

@supports not (margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem )) {
    .section-footer__left-column {
      margin-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 11.25);
    }
}

  .section-footer__right-column {
    margin-left: 1.875rem;
    row-gap: 2.5rem;
    width: 90vw;
  }

@supports (margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem )) {
    .section-footer__right-column {
      margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem );
    }
}

@supports not (margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem )) {
    .section-footer__right-column {
      margin-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 11.25);
    }
}

  .footer-footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    row-gap: 1.875rem;
  }

  .logo_footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-height: 450px) {
  .section-header {
    height: 100%;
  }

  .section-header__content {
    row-gap: 3.125rem;
  }
}

.webp .header{ background-image: url(../img/bg.webp); }

.webp .footer{ background-image: url(../img/footerBG.webp); }

.webp .section-solar-power-plant{ background-image: url(../img/power-plant.webp); }