@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-btnarr:before {
  content: "\e900";
}

._icon-fb:before {
  content: "\e901";
}

._icon-inst:before {
  content: "\e902";
}

._icon-logo:before {
  content: "\e903";
}

._icon-arr:before {
  content: "\e904";
}

._icon-tg:before {
  content: "\e905";
}

._icon-wup:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #303030;
  line-height: 1;
  font-family: "Noto Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  /* maxWidthContainer было */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section-tittle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.375;
  color: #868585;
}

@supports (font-size: clamp( 1.25rem , 1.0833333333rem  +  0.3472222222vw , 1.5rem )) {
  .section-tittle {
    font-size: clamp( 1.25rem , 1.0833333333rem  +  0.3472222222vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0833333333rem  +  0.3472222222vw , 1.5rem )) {
  .section-tittle {
    font-size: calc(1.25rem + 0.25 * (100vw - 48rem) / 72);
  }
}

.logo {
  display: inline-block;
  font-size: 3.4375rem;
  color: #fff;
}

@supports (font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem )) {
  .logo {
    font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem )) {
  .logo {
    font-size: calc(2.8125rem + 0.625 * (100vw - 48rem) / 72);
  }
}

.subtittle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  color: #303030;
}

.text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  color: #303030;
}

.footer-tittle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.375;
}

.footer-text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  color: #fff;
}

.icon-logo {
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  font-size: 1.845rem;
}

.icon-logo:hover {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #A9A32A;
}

.header {
  background-color: transparent;
}

.no-webp .section-header{
  background: url("../img/bg.jpg") no-repeat 50% 50%; }

.section-header {
  background-size: cover;
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  width: 100%;
  color: #fff;
}

.section-header__container {
  height: 100%;
}

.section-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 4.375rem;
  padding-bottom: 2.5rem;
}

.content-body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3.125rem;
}

@supports (margin-top: clamp( -3.125rem , -6.1553030909rem  +  15.1515154545vw , 0.0000000625rem )) {
  .content-body {
    margin-top: clamp( -3.125rem , -6.1553030909rem  +  15.1515154545vw , 0.0000000625rem );
  }
}

@supports not (margin-top: clamp( -3.125rem , -6.1553030909rem  +  15.1515154545vw , 0.0000000625rem )) {
  .content-body {
    margin-top: calc(-3.125rem + 3.1250000625 * (100vw - 20rem) / 20.625);
  }
}

.content-body__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

@supports (font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem )) {
  .content-body__text {
    font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9166666667rem  +  0.1736111111vw , 1.125rem )) {
  .content-body__text {
    font-size: calc(1rem + 0.125 * (100vw - 48rem) / 72);
  }
}

.content-body__tittle {
  font-style: bold;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.359375;
  font-variant: small-caps;
  margin: 0px 0px;
}

@supports (font-size: clamp( 3.2rem , 2.6666666667rem  +  1.1111111111vw , 4rem )) {
  .content-body__tittle {
    font-size: clamp( 3.2rem , 2.6666666667rem  +  1.1111111111vw , 4rem );
  }
}

@supports not (font-size: clamp( 3.2rem , 2.6666666667rem  +  1.1111111111vw , 4rem )) {
  .content-body__tittle {
    font-size: calc(3.2rem + 0.8 * (100vw - 48rem) / 72);
  }
}

@supports (font-size: clamp( 2.625rem , 0.5805555556rem  +  10.2222222222vw , 3.2rem )) {
  .content-body__tittle {
    font-size: clamp( 2.625rem , 0.5805555556rem  +  10.2222222222vw , 3.2rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 0.5805555556rem  +  10.2222222222vw , 3.2rem )) {
  .content-body__tittle {
    font-size: calc(2.625rem + 0.575 * (100vw - 20rem) / 5.625);
  }
}

.content-body__subtittle {
  font-style: bold;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 1.35;
  line-height: 1.3571428571;
}

@supports (font-size: clamp( 2.1rem , 1.75rem  +  0.7291666667vw , 2.625rem )) {
  .content-body__subtittle {
    font-size: clamp( 2.1rem , 1.75rem  +  0.7291666667vw , 2.625rem );
  }
}

@supports not (font-size: clamp( 2.1rem , 1.75rem  +  0.7291666667vw , 2.625rem )) {
  .content-body__subtittle {
    font-size: calc(2.1rem + 0.525 * (100vw - 48rem) / 72);
  }
}

@supports (font-size: clamp( 1.75rem , 0.5055555556rem  +  6.2222222222vw , 2.1rem )) {
  .content-body__subtittle {
    font-size: clamp( 1.75rem , 0.5055555556rem  +  6.2222222222vw , 2.1rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 0.5055555556rem  +  6.2222222222vw , 2.1rem )) {
  .content-body__subtittle {
    font-size: calc(1.75rem + 0.35 * (100vw - 20rem) / 5.625);
  }
}

.content-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem ))) {
  .content-footer__socials {
    -webkit-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
       -moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
            column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem ))) {
  .content-footer__socials {
    -webkit-column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
       -moz-column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
            column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
  }
}

.button-body_white {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  margin-left: -20%;
}

@supports (margin-right: clamp( 0.0000000625rem , 6.1553029697rem  +  -15.1515148485vw , 3.125rem )) {
  .button-body_white {
    margin-right: clamp( 0.0000000625rem , 6.1553029697rem  +  -15.1515148485vw , 3.125rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , 6.1553029697rem  +  -15.1515148485vw , 3.125rem )) {
  .button-body_white {
    margin-right: calc(3.125rem + -3.1249999375 * (100vw - 20rem) / 20.625);
  }
}

.button-body_white__icon {
  font-size: 6.25rem;
}

@supports (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-body_white__icon {
    font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-body_white__icon {
    font-size: calc(5rem + 1.25 * (100vw - 48rem) / 72);
  }
}

.button-body_white:hover {
  background-color: #A9A32A;
  border-radius: 50%;
}

.button-body_white__button-text {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  top: 60%;
  left: 50%;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3888888889;
}

@supports (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-body_white__button-text {
    font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-body_white__button-text {
    font-size: calc(0.9rem + 0.225 * (100vw - 48rem) / 72);
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .section-footer{
  background: url("../img/footerBG.jpg") no-repeat 50% 50%; }

.section-footer {
  background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 45.625rem;
  color: #fff;
}

.section-footer__footer-content-container {
  background-color: transparent;
  padding-top: 4.375rem;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9.375rem;
}

@supports (padding-top: clamp( 2.1875rem , -5.3125rem  +  15.625vw , 4.375rem )) {
  .section-footer__footer-content-container {
    padding-top: clamp( 2.1875rem , -5.3125rem  +  15.625vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.1875rem , -5.3125rem  +  15.625vw , 4.375rem )) {
  .section-footer__footer-content-container {
    padding-top: calc(2.1875rem + 2.1875 * (100vw - 48rem) / 14);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , -3.7946428571rem  +  11.1607142857vw , 3.125rem )) {
  .section-footer__footer-content-container {
    padding-bottom: clamp( 1.5625rem , -3.7946428571rem  +  11.1607142857vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , -3.7946428571rem  +  11.1607142857vw , 3.125rem )) {
  .section-footer__footer-content-container {
    padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 48rem) / 14);
  }
}

@supports (row-gap: clamp( 5rem , 2.0833333333rem  +  6.0763888889vw , 9.375rem )) {
  .section-footer__footer-content-container {
    row-gap: clamp( 5rem , 2.0833333333rem  +  6.0763888889vw , 9.375rem );
  }
}

@supports not (row-gap: clamp( 5rem , 2.0833333333rem  +  6.0763888889vw , 9.375rem )) {
  .section-footer__footer-content-container {
    row-gap: calc(5rem + 4.375 * (100vw - 48rem) / 72);
  }
}

.section-footer__content-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5.625rem;
     -moz-column-gap: 5.625rem;
          column-gap: 5.625rem;
}

@supports ((-moz-column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem )) or (column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem ))) {
  .section-footer__content-columns {
    -webkit-column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem );
       -moz-column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem );
            column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem )) or (column-gap: clamp( 3.125rem , -5.4464285714rem  +  17.8571428571vw , 5.625rem ))) {
  .section-footer__content-columns {
    -webkit-column-gap: calc(3.125rem + 2.5 * (100vw - 48rem) / 14);
       -moz-column-gap: calc(3.125rem + 2.5 * (100vw - 48rem) / 14);
            column-gap: calc(3.125rem + 2.5 * (100vw - 48rem) / 14);
  }
}

.section-footer__left-column {
  width: 31.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
  padding-right: 1.25rem;
}

.section-footer__right-column {
  width: 37.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.contacts-list__item {
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.contacts-list__tel-item {
  max-width: 37.5rem;
  width: 100%;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contacts-list__tel-item:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #A9A32A;
}

.footer-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-footer__policy {
  display: inline-block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-footer__policy:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #A9A32A;
}

.footer-footer__socials-list {
  margin-right: 0.625rem;
  max-height: 1.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem ))) {
  .footer-footer__socials-list {
    -webkit-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
       -moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
            column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 2.8571428571rem  +  -3.3482142857vw , 2.1875rem ))) {
  .footer-footer__socials-list {
    -webkit-column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
       -moz-column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
            column-gap: calc(2.1875rem + -0.9375 * (100vw - 20rem) / 28);
  }
}

.footer-footer__socials-item {
  display: inline-block;
}

.logo_footer {
  display: inline-block;
  font-size: 3.4375rem;
  color: #fff;
}

@supports (font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem )) {
  .logo_footer {
    font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 2.8125rem , 2.3958333333rem  +  0.8680555556vw , 3.4375rem )) {
  .logo_footer {
    font-size: calc(2.8125rem + 0.625 * (100vw - 48rem) / 72);
  }
}

.gform {
  max-width: 31.875rem;
  width: 100%;
  letter-spacing: 1.3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
}

.gform__group {
  position: relative;
}

.gform__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  z-index: 0;
  color: #9e9e9e;
  translate: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gform__icon:hover {
  background-color: #A9A32A;
  border-radius: 50%;
}

.gform__text {
  position: absolute;
  display: inline-block;
  bottom: 1.25rem;
  left: 2.8125rem;
  max-width: 8.9375rem;
  width: 100%;
}

.gform__input {
  width: 100%;
  padding: 0 0 0.625rem 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gform__input {
  color: #fff;
  font-family: "Noto Sans";
  letter-spacing: 1.3;
  font-size: 1rem;
}

.gform__input:focus {
  border-bottom: 1px solid #A9A32A;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.gform .gform__input:not(:-moz-placeholder-shown) ~ .gform__label {
  top: -18px;
  left: -2px;
  font-size: -12px;
  color: rgba(224, 224, 224, 0.5);
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.gform .gform__input:not(:-ms-input-placeholder) ~ .gform__label {
  top: -18px;
  left: -2px;
  font-size: -12px;
  color: rgba(224, 224, 224, 0.5);
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.gform .gform__input:focus ~ .gform__label,
.gform .gform__input:not(:placeholder-shown) ~ .gform__label {
  top: -18px;
  left: -2px;
  font-size: -12px;
  color: rgba(224, 224, 224, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button-gform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button-gform__wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.button-gform__button-icon {
  font-size: 6.25rem;
}

@supports (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-gform__button-icon {
    font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 5rem , 4.1666666667rem  +  1.7361111111vw , 6.25rem )) {
  .button-gform__button-icon {
    font-size: calc(5rem + 1.25 * (100vw - 48rem) / 72);
  }
}

.button-gform__button-text {
  position: absolute;
  white-space: nowrap;
  top: 60%;
  left: 50%;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3888888889;
}

@supports (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-gform__button-text {
    font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9rem , 0.75rem  +  0.3125vw , 1.125rem )) {
  .button-gform__button-text {
    font-size: calc(0.9rem + 0.225 * (100vw - 48rem) / 72);
  }
}

.button-gform__wrapper:hover {
  background-color: #A9A32A;
  border-radius: 50%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 767px) {
  .section-footer {
    max-height: 100%;
  }

  .section-footer__footer-content-container {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    row-gap: 3.75rem;
  }

  .section-footer__content-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 5rem;
  }

  .section-footer__left-column {
    margin-left: 1.875rem;
    row-gap: 2.5rem;
    width: 90vw;
  }

@supports (margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem )) {
    .section-footer__left-column {
      margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem );
    }
}

@supports not (margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem )) {
    .section-footer__left-column {
      margin-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 11.25);
    }
}

  .section-footer__right-column {
    margin-left: 1.875rem;
    row-gap: 2.5rem;
    width: 90vw;
  }

@supports (margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem )) {
    .section-footer__right-column {
      margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem );
    }
}

@supports not (margin-left: clamp( 0.625rem , -1.5972222222rem  +  11.1111111111vw , 1.875rem )) {
    .section-footer__right-column {
      margin-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 11.25);
    }
}

  .footer-footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    row-gap: 1.875rem;
  }

  .logo_footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-height: 450px) {
  .section-header {
    height: 100%;
  }

  .section-header__content {
    row-gap: 3.125rem;
  }
}

.webp .section-header{ background: url(../img/bg.webp) no-repeat 50% 50%; }

.webp .section-footer{ background: url(../img/footerBG.webp) no-repeat 50% 50%; }